In [1]:
import os
os.getcwd()

'C:\\Users\\dreyl2'

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("breast_cancer.csv")
df

,Unnamed: 0,id number,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,malignant
0,0,1000025,5,1,1,1,2,1,3,1,1,0
1,1,1002945,5,4,4,5,7,10,3,2,1,0
2,2,1015425,3,1,1,1,2,2,3,1,1,0
3,3,1016277,6,8,8,1,3,4,3,7,1,0
4,4,1017023,4,1,1,3,2,1,3,1,1,0
5,5,1017122,8,10,10,8,7,10,9,7,1,1
6,6,1018099,1,1,1,1,2,10,3,1,1,0
7,7,1018561,2,1,2,1,2,1,3,1,1,0
8,8,1033078,2,1,1,1,2,1,1,1,5,0
9,9,1033078,4,2,1,1,2,1,2,1,1,0
10,10,1035283,1,1,1,1,1,1,3,1,1,0
11,11,1036172,2,1,1,1,2,1,2,1,1,0
12,12,1041801,5,3,3,3,2,3,4,4,1,1
13,13,1043999,1,1,1,1,2,3,3,1,1,0
14,14,1044572,8,7,5,10,7,9,5,5,4,1
15,15,1047630,7,4,6,4,6,1,4,3,1,1
16,16,1048672,4,1,1,1,2,1,2,1,1,0
17,17,1049815,4,1,1,1,2,1,3,1,1,0
18,18,1050670,10,7,7,6,4,10,4,1,2,1
19,19,1050718,6,1,1,1,2,1,3,1,1,0
20,20,1054590,7,3,2,10,5,10,5,4,4,1
21,21,1054593,10,5,5,3,6,7,7,10,1,1
22,22,1056784,3,1,1,1,2,1,2,1,1,0
23,23,1057013,8,4,5,1,2,-1,7,3,1,1
24,24,1059552,1,1,1,1,2,1,3,1,1,0
25,25,1065726,5,2,3,4,2,7,3,6,1,1
26,26,1066373,3,2,1,1,1,1,2,1,1,0
27,27,1066979,5,1,1,1,2,1,2,1,1,0
28,28,1067444,2,1,1,1,2,1,2,1,1,0
29,29,1070935,1,1,3,1,2,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
669,669,1350423,5,10,10,8,5,5,7,10,1,1
670,670,1352848,3,10,7,8,5,8,7,4,1,1
671,671,1353092,3,2,1,2,2,1,3,1,1,0
672,672,1354840,2,1,1,1,2,1,3,1,1,0
673,673,1354840,5,3,2,1,3,1,1,1,1,0
674,674,1355260,1,1,1,1,2,1,2,1,1,0
675,675,1365075,4,1,4,1,2,1,1,1,1,0
676,676,1365328,1,1,2,1,2,1,2,1,1,0
677,677,1368267,5,1,1,1,2,1,1,1,1,0
678,678,1368273,1,1,1,1,2,1,1,1,1,0
679,679,1368882,2,1,1,1,2,1,1,1,1,0
680,680,1369821,10,10,10,10,5,10,10,10,7,1
681,681,1371026,5,10,10,10,4,10,5,6,3,1
682,682,1371920,5,1,1,1,2,1,3,2,1,0
683,683,466906,1,1,1,1,2,1,1,1,1,0
684,684,466906,1,1,1,1,2,1,1,1,1,0
685,685,534555,1,1,1,1,2,1,1,1,1,0
686,686,536708,1,1,1,1,2,1,1,1,1,0
687,687,566346,3,1,1,1,2,1,2,3,1,0
688,688,603148,4,1,1,1,2,1,1,1,1,0
689,689,654546,1,1,1,1,2,1,1,1,8,0
690,690,654546,1,1,1,3,2,1,1,1,1,0
691,691,695091,5,10,10,5,4,5,4,4,1,1
692,692,714039,3,1,1,1,2,1,1,1,1,0
693,693,763235,3,1,1,1,2,1,2,1,2,0
694,694,776715,3,1,1,1,3,2,1,1,1,0
695,695,841769,2,1,1,1,2,1,1,1,1,0
696,696,888820,5,10,10,3,7,3,8,10,2,1
697,697,897471,4,8,6,4,3,4,10,6,1,1
698,698,897471,4,8,8,5,4,5,10,4,1,1

In [4]:
df.describe()

,Unnamed: 0,id number,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,malignant
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,349.000000,1071704.098712,4.417740,3.134478,3.207439,2.806867,3.216023,3.440629,3.437768,2.866953,1.589413,0.344778
std,201.928205,617095.729819,2.815741,3.051459,2.971913,2.855379,2.214300,3.665507,2.438364,3.053634,1.715078,0.475636
min,0.000000,61634.000000,1.000000,1.000000,1.000000,1.000000,1.000000,-1.000000,1.000000,1.000000,1.000000,0.000000
25%,174.500000,870688.500000,2.000000,1.000000,1.000000,1.000000,2.000000,1.000000,2.000000,1.000000,1.000000,0.000000
50%,349.000000,1171710.000000,4.000000,1.000000,1.000000,1.000000,2.000000,1.000000,3.000000,1.000000,1.000000,0.000000
75%,523.500000,1238298.000000,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,5.000000,4.000000,1.000000,1.000000
max,698.000000,13454352.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000

In [6]:
df = df.drop(['Unnamed: 0', 'id number'], axis=1)
df

,clump_thickness,uniformity_of_cell_size,uniformity_of_cell_shape,marginal_adhesion,epithelial_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,malignant
0,5,1,1,1,2,1,3,1,1,0
1,5,4,4,5,7,10,3,2,1,0
2,3,1,1,1,2,2,3,1,1,0
3,6,8,8,1,3,4,3,7,1,0
4,4,1,1,3,2,1,3,1,1,0
5,8,10,10,8,7,10,9,7,1,1
6,1,1,1,1,2,10,3,1,1,0
7,2,1,2,1,2,1,3,1,1,0
8,2,1,1,1,2,1,1,1,5,0
9,4,2,1,1,2,1,2,1,1,0
10,1,1,1,1,1,1,3,1,1,0
11,2,1,1,1,2,1,2,1,1,0
12,5,3,3,3,2,3,4,4,1,1
13,1,1,1,1,2,3,3,1,1,0
14,8,7,5,10,7,9,5,5,4,1
15,7,4,6,4,6,1,4,3,1,1
16,4,1,1,1,2,1,2,1,1,0
17,4,1,1,1,2,1,3,1,1,0
18,10,7,7,6,4,10,4,1,2,1
19,6,1,1,1,2,1,3,1,1,0
20,7,3,2,10,5,10,5,4,4,1
21,10,5,5,3,6,7,7,10,1,1
22,3,1,1,1,2,1,2,1,1,0
23,8,4,5,1,2,-1,7,3,1,1
24,1,1,1,1,2,1,3,1,1,0
25,5,2,3,4,2,7,3,6,1,1
26,3,2,1,1,1,1,2,1,1,0
27,5,1,1,1,2,1,2,1,1,0
28,2,1,1,1,2,1,2,1,1,0
29,1,1,3,1,2,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...
669,5,10,10,8,5,5,7,10,1,1
670,3,10,7,8,5,8,7,4,1,1
671,3,2,1,2,2,1,3,1,1,0
672,2,1,1,1,2,1,3,1,1,0
673,5,3,2,1,3,1,1,1,1,0
674,1,1,1,1,2,1,2,1,1,0
675,4,1,4,1,2,1,1,1,1,0
676,1,1,2,1,2,1,2,1,1,0
677,5,1,1,1,2,1,1,1,1,0
678,1,1,1,1,2,1,1,1,1,0
679,2,1,1,1,2,1,1,1,1,0
680,10,10,10,10,5,10,10,10,7,1
681,5,10,10,10,4,10,5,6,3,1
682,5,1,1,1,2,1,3,2,1,0
683,1,1,1,1,2,1,1,1,1,0
684,1,1,1,1,2,1,1,1,1,0
685,1,1,1,1,2,1,1,1,1,0
686,1,1,1,1,2,1,1,1,1,0
687,3,1,1,1,2,1,2,3,1,0
688,4,1,1,1,2,1,1,1,1,0
689,1,1,1,1,2,1,1,1,8,0
690,1,1,1,3,2,1,1,1,1,0
691,5,10,10,5,4,5,4,4,1,1
692,3,1,1,1,2,1,1,1,1,0
693,3,1,1,1,2,1,2,1,2,0
694,3,1,1,1,3,2,1,1,1,0
695,2,1,1,1,2,1,1,1,1,0
696,5,10,10,3,7,3,8,10,2,1
697,4,8,6,4,3,4,10,6,1,1
698,4,8,8,5,4,5,10,4,1,1

In [7]:
y = df.pop("malignant")

In [22]:
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.cross_validation import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn import cross_validation
import math

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [10]:
X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=.2, random_state=42)

In [11]:
n_estimators = [300,400,500]
max_features = ['auto', 'sqrt', 'log2']
min_samples_split = [3,5,7]

rfc = RandomForestClassifier(n_jobs=1)
estimator = GridSearchCV(rfc, 
                            dict(n_estimators=n_estimators, 
                                max_features=max_features, 
                                min_samples_split=min_samples_split), 
                                cv=None, n_jobs=-1)

In [13]:
estimator.fit(X_train, y_train)

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'min_samples_split': [3, 5, 7], 'max_features': ['auto', 'sqrt', 'log2'], 'n_estimators': [300, 400, 500]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [15]:
estimator.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [16]:
best_rfc = estimator.best_estimator_

Accuracy

In [18]:
accuracy = accuracy_score(y_test, best_rfc.predict(X_test))
print "Accuracy: ", accuracy

Accuracy:  0.964285714286

Precision & Recall

In [19]:
print classification_report(y_test, best_rfc.predict(X_test))

             precision    recall  f1-score   support

          0       0.97      0.98      0.97        95
          1       0.95      0.93      0.94        45

avg / total       0.96      0.96      0.96       140

AUC

In [21]:
roc = roc_auc_score(y_test, best_rfc.predict_proba(X_test)[:,1])
print "AUC Score: ", roc

AUC Score:  0.996023391813

In [24]:
scores = cross_validation.cross_val_score
scores = cross_validation.cross_val_score(best_rfc, df, y, cv=10)
scores

array([ 0.91549296,  0.97142857,  0.97142857,  0.91428571,  0.98571429,
        0.98571429,  0.97142857,  0.98571429,  0.98550725,  1.        ])

In [31]:
mean_score = scores.mean()
std_dev = scores.std()
std_error = scores.std() / math.sqrt(scores.shape[0])
ci = 2.262 * std_error
lower_bound = mean_score - ci
upper_bound = mean_score + ci

print "Score is %f +/- %f" %(mean_score, ci)
print "95 percent probability that if this experiment were repeated over and over the average score would be between %f and %f" %(lower_bound, upper_bound)

Score is 0.968671 +/- 0.020162
95 percent probability that if this experiment were repeated over and over the average score would be between 0.948509 and 0.988834

The K-fold CV score and the single holdout AUC were fairly close.  The accuracy of the model was  96.4% accurate, and our K-Fold score was between 95% accurate to 99% accurate.  On the whole K-Fold would typically give a slightly better score averaging around .2 percentage point higher.

Our model will correctly identify with a person has breast cancer is 95%.  The model will identify a person as having breast cancer when in fact they do not have breast cancer 5% of the time.  For our model of the people it identifies as having breast cancer 93% of those people will actually have breast cancer.

The AUC for our model is .996.  This is a measure of how good our model is.  .996 is near perfect so our model is pretty good.  This will help us determine a threshold for a sample size where we can actually get a good percentage of our predictions correct.