##Goal:  Train a Naive Bayes model to classify future SMS messages as either spam or ham.

Steps:

1.  Convert the words ham and spam to a binary indicator variable(0/1)

2.  Convert the txt to a sparse matrix of TFIDF vectors

3.  Fit a Naive Bayes Classifier

4.  Measure your success using roc_auc_score

In [31]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cross_validation import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score

In [32]:
df= pd.read_csv("SMSSpamCollection",sep='\t', names=['spam', 'txt'])

In [33]:
df.head()

   spam                                                txt
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [34]:
stopset = set(stopwords.words('english'))
vectorizer = TfidfVectorizer(use_idf=True, lowercase=True, strip_accents='ascii', stop_words=stopset)

In [35]:
y = df.spam
y = pd.get_dummies(y)
y.drop(['ham'], axis=1, inplace=True)
y

      spam
0        0
1        0
2        1
3        0
4        0
5        1
6        0
7        0
8        1
9        1
10       0
11       1
12       1
13       0
14       0
15       1
16       0
17       0
18       0
19       1
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
...    ...
5542     0
5543     0
5544     0
5545     0
5546     0
5547     1
5548     0
5549     0
5550     0
5551     0
5552     0
5553     0
5554     0
5555     0
5556     0
5557     0
5558     0
5559     0
5560     0
5561     0
5562     0
5563     0
5564     0
5565     0
5566     1
5567     1
5568     0
5569     0
5570     0
5571     0

[5572 rows x 1 columns]

In [36]:
X = vectorizer.fit_transform(df.txt)

In [37]:
print X.shape
print y.shape

(5572, 8587)
(5572, 1)

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [39]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train, y_train)

C:\Users\dreyl2\AppData\Local\Continuum\Anaconda2\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
roc_auc_score(y_test, clf.predict_proba(X_test)[:,1])

0.98589322144123448